django
sqlparse 
tzdata
gunicorn
numpy
pandas
python-dateutil
pytz
six
dj-database-url
django-heroku
psycopg2
whitenoise
screen
pytz
django-six
django-excel-base
django-excel-response2
django-admin
wikipedia
SpeechRecognition
pyttsx3
PyAudio-0.2.11-cp310-cp310-win_amd64.whl
